name: First CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  basic-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run a basic check
        run: echo "CI is running successfully"

