name: First CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  basic-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run a basic check
        run: echo "CI is running successfully"

      - name: Check README exists
        run: |
          if [ ! -e README.md ]; then
           echo "REAME.md is missing"
           exit 1
          fi
